.dayFrame {
    /* background-color: aquamarine; */
    flex: 1;
    /* margin: 10px; */
    border: 1px tomato solid;
    
    /* background-color: black; */
    height: fit-content;
    width: fit-content;
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}